<!DOCTYPE html>
<html>

    <head>
        <title>Gallery Filter</title>

        <!-- Required meta tags -->
        <meta charset="utf-8"> <!-- character encoding -->
        <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"> <!-- Display webpage in edge mode/IE in highest supported document mode -->
        <meta name=viewport content="width=device-width, initial-scale=1"> <!-- Optimizations for mobile devices -->

        <!-- Google fonts -->
        
        <link rel="stylesheet" type="text/css" href="css/style.css">


        <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"</script>
        <![endif]-->
    </head>

    <body>
             
               
       
        <!-- Jquery first, then JavaScript -->
        <script src="js/jquery-3.1.0.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>