.item {
    position: relative;
    overflow: hidden;
}

.itemTags {
    background: #fff;
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0.5;
}




































